@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --lighting-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body,html{
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
}
body{font-size: 1.4rem;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
}
a {
text-decoration: none;
color: white;
}
header{
    background: var(--lighting-color);

}
nav{
    display: flex;
    justify-content: space-between;
}